.dropdown_panel{
    display: flex;
    margin-top: 45px;
}

img{
    height: 6rem;
    width: 10rem;
}

.charging{

    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    height:25vh;
    width: 53rem;
    margin-left: 4.5vw;
}

.cd_options ul{
    align-items:flex-start;
    justify-content: space-between;
}

.cd_options li{
    padding-bottom: 6px;
    margin-bottom: 5px;
    list-style-type: none;
    text-align: left;
    font-size: 14px;
}

.cd_options a{
    text-decoration: none;
    color: black;
}

#chargingdevice{
    flex: 0 0 auto;
}

#cd_link{
    align-content: center;
    justify-content: center;
    display: flex;
    gap: 17px;
    margin: -9px;
    font-size: 12.3px;
    text-decoration: underline;
}
